# Xcode
*.xcuserstate
*.xcuserdatad/
*.xcworkspace/xcuserdata/

# Build
build/
DerivedData/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.moved-aside

# Swift Package Manager
.build/
Packages/
Package.pinned
Package.resolved

# CocoaPods
Pods/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# OS
.DS_Store

# IDE
.vscode/
.idea/

# Logs
*.log

# Temporary files
*.tmp
*.temp
