<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDjhbT3o9_bVAYfmgT31nmmDZ6GCBWrlxY</string>
	<key>GCM_SENDER_ID</key>
	<string>687303984701</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.giroklabs.macro-alert</string>
	<key>PROJECT_ID</key>
	<string>macro-alert-4e51c</string>
	<key>STORAGE_BUCKET</key>
	<string>macro-alert-4e51c.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:687303984701:ios:f8293436bf54b85a654c54</string>
</dict>
</plist>