<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Title</key>
	<string>알림 설정</string>
	<key>StringsTable</key>
	<string>Notifications</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>알림 권한</string>
			<key>FooterText</key>
			<string>환율 변동 시 알림을 받으려면 알림 권한이 필요합니다. iOS 설정 > 알림 > 환율알라미에서 알림을 허용해주세요.</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>알림 허용</string>
			<key>Key</key>
			<string>notifications_enabled</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>알림 설정</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>소리</string>
			<key>Key</key>
			<string>notification_sound</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>배지</string>
			<key>Key</key>
			<string>notification_badge</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>화면에 표시</string>
			<key>Key</key>
			<string>notification_alert</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>알림 히스토리</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string>총 알림 수</key>
			<key>Key</key>
			<string>total_notifications</string>
			<key>DefaultValue</key>
			<string>0</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string>마지막 알림</string>
			<key>Key</key>
			<string>last_notification</string>
			<key>DefaultValue</key>
			<string>없음</string>
		</dict>
	</array>
</dict>
</plist>
